body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #050505;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#img-caption {
    font-size: 1.3rem;
    margin: 10px 0 5px 0;
}
#main {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background: #dfdfdf;
}
h1 {
    font-size: 3rem;
    line-height: 1.5;
}
#img-div{
    background: #fff;
    padding: 10px;
    margin: 0;
}
ul {
    text-align: left;
    line-height: 1.5;
    max-width: 700px;
    margin: auto;
}
li {
    margin: 15px auto;
    font-size: 1.4rem;
}
blockquote {
    font-style: italic;
    max-width: 500px;
    font-size: 1.2rem;
    background-color: #c3c3c3;
    padding: 5px 20px;
    border-radius: 10px;
}
cite::before{
    content: "~~ ";
}
